@import '~office-ui-fabric-react/dist/sass/References.scss';

.imagesGalleryWebpart {
    position: relative;
}

.imagesGalleryWebpart {
    .imageList{
        gap: 5px;
        columns: 150px;
    }
    
    .imageList img {
        width: 100% !important;
        height: auto !important;
    }
}

.overlay {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}