@import '~office-ui-fabric-react/dist/sass/References.scss';

.imagesGalleryWebpart {
    position: relative;
}

.overlay {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}